#symbol {
    text-transform: uppercase;
    width: 206px;
}

#stocks {
    list-style: none;
    margin-left: 5px;
    margin-bottom: 0px;
    padding-left: 0px;
}

#stocks span {
    display: inline-block;
    width: 60px;
}

.symbol {
    font-weight: bold;
}

.changeDown {
    color: red;
}

.changeUp {
    color: green;
}

#stocks > li {
	position: relative;
}

.unsubscribe {
	display: inline-block;
	background: url('../images/sprite.png');
	background-position: -0px -0px;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	margin-top: -7px;
}

.unsubscribe:hover {
	background-position: -0px -24px;
}